@import url();

body {
  color: rgb(17, 17, 17);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  font-size: 10px;
  line-height: 1.7em;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

a, 
a:link, 
a:visited {
  color: #f15a23;
  text-decoration: none;
}

#contentleft a, 
a:link, 
a:visited {
  color: #f15a23;
  text-decoration: none; 
}


a:hover {
  text-decoration: underline;
}

img {
  border: 0;
}

h1 {
  color: #f15a23;
  font-size: 2.2em;
  font-weight: normal;
  line-height: 1.364em;	
}

h2 {
  color: #f15a23;
  font-size: 2.2em;
  font-weight: normal;
  line-height: 1.364em;	
}

p {
  font-size: 1.2em;
  line-height: 1.7em;
}

#contentleft ul li {
  font-size: 1.2em;
  line-height: 1.7em;
}

#index{
  background: #b0b0b0;
}

#container {
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  width: 98.2em;
}

#header {
  border-bottom: none;
  height: 89px;
  padding-bottom: 0px;
  padding-top: 0px;

}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation li {
  background-color: #efefef;
  border: 1px solid #dddddd;
  color: black;
  float: left;
  font-size: 1.1em;
  letter-spacing: 2px;
  margin-left: -1px; 
  padding: 7px 9px;
  text-transform: uppercase;
}

#navigation a, 
a:visited, 
a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

#navigation li:hover {
  background-color: #f15a23;
  color: white;
}

#navigation li.active {
  background-color: #ffffff;
  border-bottom-color: white;
  color: #f15a23;
  cursor: default;
  display: block;
}

#navigation li.active a {
  color: #f15a23;
}

#rightlinks {
  border: 1px solid red;
  display: block;
  margin-left: auto;
  margin-right: 100px;
  text-align: right;
  width: 100px;
}

#contentleft {
  border-right: 1px solid #dddddd;
  float: left;
  padding: 10px;
  width: 51em;
}

#contentright {
  border-left: 1px solid #dddddd;
  float: left;
  margin-left: -1px;
  width: 43.1em;
}

#mediabox {
  background-color: #eeeeee;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding: 10px;
  width: 100%;
}

.sidebaritem .block {
  border-left: 1px solid #dddddd;
  float: left;
  margin-left: -1px;
  padding: 10px;
  text-align: center;
  width: 19.5em;
}

#footer {
  border-top: double #dddddd;
  color: #888888;
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 10px;
  text-align: right;
}

.clear {
  clear: both;
}